/JavaLab/AsteroidsServiceLoader/Enemy/target/
/JavaLab/AsteroidsServiceLoader/Bullet/target/
/JavaLab/AsteroidsServiceLoader/CommonEnemy/target/
/NetbeansLab1/DemoModules/nbproject/private/
/NetbeansLab1/DemoModules/build/
/NetbeansLab1/AsteroidsNetbeansModules/branding/target/
/NetbeansLab1/AsteroidsNetbeansModules/application/target/
/NetbeansLab1/AsteroidsNetbeansModules/Asteroid/target/
/NetbeansLab1/AsteroidsNetbeansModules/Common/target/
/NetbeansLab1/AsteroidsNetbeansModules/Core/target/
/NetbeansLab1/AsteroidsNetbeansModules/Collision/target/
/NetbeansLab1/AsteroidsNetbeansModules/Enemy/target/
/NetbeansLab1/AsteroidsNetbeansModules/Player/target/
/NetbeansLab1/AsteroidsNetbeansModules/Bullet/target/
/NetbeansLab2/AsteroidsNetbeansModules/SilentUpdate/target/
/OSGILab/OSGiAgeCalculator/AgeCalculatorAPI/target/
/OSGILab/OSGiAgeCalculator/application/target/
/OSGILab/OSGiAgeCalculator/Launcher/target/
/OSGILab/OSGiAgeCalculator/AgeCalculatorClient/target/
/OSGILab/AsteroidsOSGi/application/target/
/OSGILab/AsteroidsOSGi/CommonPlayer/target/
/OSGILab/AsteroidsOSGi/OSGiPlayer/target/